@font-face {
  font-family: "iconfont"; /* Project id 2377618 */
  src: url('iconfont.woff2?t=1622534764876') format('woff2'),
       url('iconfont.woff?t=1622534764876') format('woff'),
       url('iconfont.ttf?t=1622534764876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wxbzhuye:before {
  content: "\e61f";
}

.icon-wxbsousuotuiguang:before {
  content: "\e620";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-iconfontyouhuiquan:before {
  content: "\e627";
}

.icon-iconfontxingxing:before {
  content: "\e628";
}

.icon-iconfontmingpian:before {
  content: "\e629";
}

.icon-iconfontshouji:before {
  content: "\e62a";
}

.icon-iconfontriyongbaihuo:before {
  content: "\e62c";
}

.icon-iconfontphone:before {
  content: "\e634";
}

.icon-iconfontqicheyongpin:before {
  content: "\e636";
}

.icon-iconfontjixieqimo:before {
  content: "\e639";
}

.icon-iconfontshumajiadian:before {
  content: "\e63a";
}

.icon-iconfontshipin:before {
  content: "\e63d";
}

.icon-iconfontgongyichongwu:before {
  content: "\e649";
}

.icon-iconfontfuzhuangneiyi:before {
  content: "\e64b";
}

.icon-maijiabz:before {
  content: "\e658";
}

.icon-posunbuji:before {
  content: "\e659";
}

.icon-qiyeshenfenrz:before {
  content: "\e65b";
}

.icon-yingckjian:before {
  content: "\e664";
}

.icon-yuanchandipinzhibz:before {
  content: "\e68b";
}

.icon-yunfeixian:before {
  content: "\e68c";
}

.icon-zhengpinbz:before {
  content: "\e68d";
}

.icon-zhifubaofukuan:before {
  content: "\e68e";
}

.icon-zhiliangbz:before {
  content: "\e68f";
}

.icon-arrowdown:before {
  content: "\e692";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowright:before {
  content: "\e694";
}

.icon-arrowup:before {
  content: "\e695";
}

.icon-close1:before {
  content: "\e69a";
}

.icon-refresh1:before {
  content: "\e6a0";
}

.icon-map1:before {
  content: "\e6a2";
}

.icon-account1:before {
  content: "\e6a3";
}

.icon-search1:before {
  content: "\e6a4";
}

.icon-download1:before {
  content: "\e6a5";
}

.icon-down:before {
  content: "\e6a8";
}

.icon-up:before {
  content: "\e6a9";
}

.icon-add:before {
  content: "\e6b9";
}

.icon-minus1:before {
  content: "\e6ba";
}

.icon-link:before {
  content: "\e6bc";
}

.icon-atm:before {
  content: "\e6bd";
}

.icon-skip:before {
  content: "\e6be";
}

.icon-attachment1:before {
  content: "\e6bf";
}

.icon-browse:before {
  content: "\e6c0";
}

.icon-phone:before {
  content: "\e6c2";
}

.icon-renminbi1688:before {
  content: "\e6cb";
}

.icon-tuihuobaozhang:before {
  content: "\e6d0";
}

.icon-daiban:before {
  content: "\e63e";
}

.icon-add-cart-fill:before {
  content: "\e776";
}

.icon-cart-Empty-fill:before {
  content: "\e77a";
}

.icon-success-fill:before {
  content: "\e78d";
}

.icon-sound-filling-fill:before {
  content: "\e78e";
}

.icon-vip-fill:before {
  content: "\e78f";
}

.icon-set:before {
  content: "\e790";
}

.icon-account-fill:before {
  content: "\e7aa";
}

.icon-home-fill:before {
  content: "\e7ae";
}

.icon-account:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-arrow-double-left:before {
  content: "\e668";
}

.icon-arrow-double-right:before {
  content: "\e669";
}

.icon-camera:before {
  content: "\e66a";
}

.icon-attachment:before {
  content: "\e66b";
}

.icon-code:before {
  content: "\e66c";
}

.icon-close:before {
  content: "\e66d";
}

.icon-direction-down:before {
  content: "\e66e";
}

.icon-direction-right:before {
  content: "\e66f";
}

.icon-direction-up:before {
  content: "\e670";
}

.icon-direction-left:before {
  content: "\e671";
}

.icon-download:before {
  content: "\e672";
}

.icon-error:before {
  content: "\e673";
}

.icon-favorite:before {
  content: "\e674";
}

.icon-file-common:before {
  content: "\e675";
}

.icon-fabulous:before {
  content: "\e676";
}

.icon-hide:before {
  content: "\e677";
}

.icon-home:before {
  content: "\e678";
}

.icon-forward:before {
  content: "\e679";
}

.icon-image-text:before {
  content: "\e67a";
}

.icon-lock:before {
  content: "\e67b";
}

.icon-map:before {
  content: "\e67c";
}

.icon-meh:before {
  content: "\e67d";
}

.icon-menu:before {
  content: "\e67e";
}

.icon-loading:before {
  content: "\e67f";
}

.icon-notification:before {
  content: "\e680";
}

.icon-minus:before {
  content: "\e681";
}

.icon-navigation:before {
  content: "\e682";
}

.icon-refresh:before {
  content: "\e683";
}

.icon-select:before {
  content: "\e684";
}

.icon-stop:before {
  content: "\e685";
}

.icon-success:before {
  content: "\e686";
}

.icon-smile:before {
  content: "\e687";
}

.icon-setting:before {
  content: "\e688";
}

.icon-survey:before {
  content: "\e689";
}

.icon-telephone:before {
  content: "\e68a";
}

